<div class="container">
  <div class="insideContainer">
    <div class="forbuttons">
      <div class="formContainer">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="insideFormContainer">      
          <img src="../../../assets/Images/fundoo.bmp" alt="fundooLogo" width="75px" height="24px">
          <div class="CreateFundooAccount">
            <h2>Account Recovery</h2>
            <h3>Recover your Fundoo Account</h3>
          </div>
          <div class="emailId">
            <mat-form-field appearance="outline" class="noWrapper fixWidth" >
              <mat-label>Email</mat-label>
              <input matInput placeholder="" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
            </mat-form-field>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email Id is required</div>
              <div *ngIf="f.email.errors.email">Enter a valid email id</div>
            </div>
          </div>
        </div>
        <div class="signin">
          <!-- <button mat-button class="buttonSignIn">Create account</button> -->
          <button mat-flat-button class="buttonNext">Reset</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>