<div class="container">
  <div class="insideContainer">
    <div class="forbuttons">
      <div class="formContainer">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="insideFormContainer">      
          <img src="../../../assets/Images/fundoo.bmp" alt="fundooLogo" width="75px" height="24px">
          <div class="CreateFundooAccount">
            <h2>Reset Password</h2>
            <h3>Reset password of your Fundoo Account</h3>
          </div>
          <div class="passwordContainer">
            <mat-form-field appearance="outline">
              <input matInput placeholder="Password" [type]="hidePwd ? 'password' : 'text'" formControlName="password" required>
              <mat-icon matSuffix (click)="hidePwd = !hidePwd">{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
              <!-- <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Confirm" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <!-- <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint> -->
            </mat-form-field>
            <!-- <div class="password">
              <mat-form-field appearance="outline" class="noWrapper fixWidth flexBtnRow">
                <mat-label>Password</mat-label>
                <input matInput [type]="hideContent ? 'text' : 'password'"  placeholder="" formControlName="password" class="form-control" name="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
              </mat-form-field>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="signin">
          <!-- <button mat-button class="buttonSignIn">Create account</button> -->
          <button mat-flat-button class="buttonNext">Reset</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>