<div class="pallete">
  <div class="color white" (click)="changeTick(0)">
    <div class="check" *ngIf="colorArray[0]">
      <mat-icon class="icon-color">check</mat-icon>
    </div>
  </div>
  <div class="color red" (click)="changeTick(1)">
    <div class="check" *ngIf="colorArray[1]" >
      <mat-icon class="icon-color">check</mat-icon>
    </div>
  </div>
  <div class="color orange" (click)="changeTick(2)">
    <div class="check" *ngIf="colorArray[2]" (click)="changeTick(2)">
      <mat-icon class="icon-color">check</mat-icon>
    </div>
  </div>
  <div class="color yellow" (click)="changeTick(3)">
    <div class="check" *ngIf="colorArray[3]" (click)="changeTick(3)">
      <mat-icon class="icon-color">check</mat-icon>
    </div>
  </div>
  <div class="color green" (click)="changeTick(4)">
    <div class="check" *ngIf="colorArray[4]" (click)="changeTick(4)">
      <mat-icon class="icon-color">check</mat-icon>
    </div>
  </div>
  <div class="color cyan" (click)="changeTick(5)">
    <div class="check" *ngIf="colorArray[5]" (click)="changeTick(5)">
      <mat-icon class="icon-color">check</mat-icon>
    </div>
  </div>
  <div class="color lightblue" (click)="changeTick(6)">
    <div class="check" *ngIf="colorArray[6]" (click)="changeTick(6)">
      <mat-icon class="icon-color">check</mat-icon>
    </div>
  </div>
  <div class="color darkblue" (click)="changeTick(7)">
    <div class="check" *ngIf="colorArray[7]">
      <mat-icon class="icon-color">check</mat-icon>
    </div>
  </div>
  <div class="color purple" (click)="changeTick(8)">
    <div class="check" *ngIf="colorArray[8]">
      <mat-icon class="icon-color">check</mat-icon>
    </div>
  </div>
  <div class="color pink" (click)="changeTick(9)">
    <div class="check" *ngIf="colorArray[9]">
      <mat-icon class="icon-color">check</mat-icon>
    </div>
  </div>
  <div class="color brown" (click)="changeTick(10)">
    <div class="check" *ngIf="colorArray[10]">
      <mat-icon class="icon-color">check</mat-icon>
    </div>
  </div>
  <div class="color grey" (click)="changeTick(11)">
    <div class="check" *ngIf="colorArray[11]">
      <mat-icon class="icon-color">check</mat-icon>
    </div>
  </div>
</div>
