@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@mixin rightMargin {
  display: inline-flex;
  margin-right: 10px;
}
@mixin columnFlex{
  display: flex;
  flex-direction: column;
}
@mixin fontSize {
  font-size: 10px;
}
@mixin fontSizeMobile {
  font-size: small;
}
.buttonSignIn{
color:#1A73E8
}
.buttonNext{
background-color: #1A73E8;
color:white;
}
.fixWidth{
  width: 280px;
}
.signin{
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
// .CreateFundooAccount{
//   display: flex;
//   justify-content: center;
// }
.flexBtnRow
{
  display: flex;
  flex-direction: column;
}
.invalid-feedback{
  color:red;
}
.noWrapper{
  margin-bottom: -1.25em;
}
h2{
  text-align: center;
  margin-bottom: 0px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .insideContainer{
    display: flex;
    flex-direction: column;
    border: solid 1px #DADCE0;  
    border-radius: 10px;
    padding:20px;
    
     .forbuttons{
       display: flex;
       flex-direction: row ;
       
      .formContainer{
        border:none;
        width: auto;
        .insideFormContainer
        {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
            .emailId{
              height: 65px;
              @include columnFlex();
              @include fontSize();
            }
            .passwordContainer{
              height: 65px;
              @include fontSize();
              display: flex;
              flex-direction: row;
              .password{
                @include columnFlex();
              }
              
              
            }
            label{
              font-size: 11px;
            }
            p{
              text-align: center;
              font-size: x-small;
            }
            
      }
      
      }//insideFormContainer
      }//for buttons
 
        
  }//inside container
}

@media only screen and (max-width: 600px) {
  .fixWidth{
    width: auto;
  }
  .container{
    display: flex;

    .insideContainer{
      display: flex;
      flex-direction: column;
      border: none;  
      border-radius: 0px;
      .forbuttons{
        
       .formContainer{
         
         .insideFormContainer{
          
         .emailId{
           height: 80px;
           @include columnFlex();
           @include fontSizeMobile();
         }
         .passwordContainer{
           height: 80px;
           @include fontSizeMobile();
           display: flex;
           flex-direction: column;
           .password{
             height: 80px;
             margin-right: 0px;
             @include columnFlex();
            
           }
           
         }
         p{
           text-align: center;
           font-size: small;
         }
         .signin{
           display: flex;
           justify-content: space-around;
           margin-top: 5%;
         }
       }
      }
       }//for buttons
    }
  }
}

