.iconClass{
  font-size: 20px;
  color:#5F6368;
  min-width: 0px;
  border-radius: 100px;
}
.iconsPanel{
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  // .icons{
  //   margin-bottom: 0px;
  //   padding-bottom: 0px;
  // }
}