<div class="iconsPanel">
    <button mat-button class="material-icons-outlined iconClass">
      <mat-icon [inline]="true">notification_add</mat-icon>
    </button>
    <button mat-button class="material-icons-outlined iconClass">
      <mat-icon [inline]="true">person_add</mat-icon>
    </button>
    <button mat-button class="material-icons-outlined iconClass" (click)="onColorPalleteClick()">
      <mat-icon [inline]="true">palette</mat-icon>
    </button>
    <button mat-button class="material-icons-outlined iconClass" >
      <mat-icon [inline]="true">photo</mat-icon>
    </button>
    <button mat-button class="material-icons-outlined iconClass" (click)="onArchieveClick()">
      <mat-icon [inline]="true">archive</mat-icon>
    </button>
    <button mat-button class="material-icons-outlined iconClass" (click)="onMoreMenuClick()">
      <mat-icon [inline]="true">more_vert</mat-icon>
    </button>
</div>
